.container {
    position: relative;
    background-image: url(img/list-bg.png);
    /* text-align: center;
    color: white;
    overflow: hidden; */
}

.leftlist {
    position: absolute;
    top: 8px;
    left: 16px;
}

.rightlist {
    position: absolute;
    top: 8px;
    right: 16px;
}

#list-bg {
    
}

.textcontainer {
    position: absolute;
}